:root {
  --branding-color: #b4dfe5;
  --secondary-color: #d1e8e2;
  --heading-color: #f4976c;
  --accent-color: #116466;
}

body {
  background-color: var(--branding-color);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin-top: 30px;
  padding: 5px;
  font-size: 50px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 3px;
  text-align: center;
  color: var(--accent-color);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: var(--heading-color);
}
@media (max-width: 786px) {
  .App-header {
    font-size: 32px;
    letter-spacing: normal;
    line-height: 1;
  }
}
